@import 'modern-normalize';
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF ;
    margin: 0;
    padding-left: 0;
}
.logo-span {
    color: #2e2f42;
    font-family: "Raleway", sans-serif; 
}
.header-nav{
    display: flex;
    flex-grow: 1;
}
header{
    padding: 24px;
}
.site-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.navigation{
    display: flex;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.span-footer {
    color: #f4f4fd;
    font-family: Raleway, sans-serif;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none; }


.slogan-button:hover,
.slogan-button:focus{
background-color: #404BBF;
}

.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus{
    color: #404BBF;
}
.contact-list{
    display: flex;
}
.contact-info {
    font-style: normal;
}

.contact-link {
    line-height: 1.5;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-examples,
.header-nav,
.site-logo,
address ul,
.advantsges-title {
    list-style: none;
}
.team-members{
    list-style: none;
}
.slogan{
    line-height: 1.07;
    font-weight: 700;
     font-size:  56px;
    letter-spacing: 0.02em;
     color: #FFFFFF;
    text-align: center;
}
.slogan-button{
    cursor: pointer;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
   border: none;
}
.portfolio-examples-title,
.advantsges-titles-text,
.team-subtitle{
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 20px;
}

.portfolio-examples{
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #434455;
    font-weight: 400;
     font-size: 16px;
    }
    .advantage-text{
        line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            font-weight: 400;
            font-size: 16px;
    }
    .portfolio-examples-p,
        .team-paragraph{
            line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;
                font-weight: 400;
                font-size: 16px;
        }

.advantsges-title{
    letter-spacing: 0.02em;
    font-size: 20px;
}
.visually-hidden{
    color: #2e2f42;
}
.team-title{
    text-transform: capitalize;
    letter-spacing: 0.02em;
        line-height: 1.11;
        font-weight: 700;
        font-size: 36px;
        color: #2e2f42;
        text-align: center;
}

.footer{
    background-color: #2e2f42;
}
.footer-text{
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-three{
    background-color: #F4F4FD;
}
.section-one{
    background-color: #2e2f42;
}
.portfolio-examples-title{
 color:#2e2f42;
}
.team-paragraph{
    font-size: 16px;
}
.portfolio {
    text-transform: capitalize;
    letter-spacing: 0.02em;
    line-height: 1.11;
    font-weight: 700;
    font-size: 36px;
    color: #2e2f42;
    text-align: center;
}
.advantsges-titles-text{
    color: #2e2f42;
}
.team-members-list {
    background-color: #FFFFFF;
}
.container {
    max-width:1128px;
        padding-left:156px ;
        padding-right:156px ;
        margin-left: auto;
        margin-right: auto;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}