@import 'modern-normalize';
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF ;
    margin: 0;
    padding-left: 0;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.logo-span {
    color: #2e2f42;
    font-family: "Raleway", sans-serif; 
}
.header-nav{
    display: flex;
    gap: 40px;
    flex-grow: 1;
}
.navigation{
    margin-left: 156px;
    display: flex;
        align-items: center;
}
.header{
padding-top: 24px;
padding-bottom: 24px;
border-bottom: 1px solid #e7e9fc;
}
.site-logo {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
    margin-bottom: 16px;
    text-decoration: none;
}
.header-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.span-footer {
    color: #f4f4fd;
    font-family: Raleway, sans-serif;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    text-decoration: none; }


.slogan-button:hover,
.slogan-button:focus{
background-color: #404BBF;
}

.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus{
    color: #404BBF;
}
.contact-list{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;
    margin-left:156px;
}
.contact-info {
    font-style: normal;
}

.contact-link {
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-examples,
.header-nav,
.site-logo,
address ul,
.advantsges-title {
    list-style: none;
}
.team-members{
    list-style: none;
}
.slogan{
    text-align: center;
    margin: 0 auto;
    line-height: 1.07;
    font-weight: 700;
     font-size:  56px;
    letter-spacing: 0.02em;
    max-width: 496px;
     color: #FFFFFF;

}
.section-one{
    align-items: center;
    text-align: center;
    justify-content: center;
}
.slogan-button{
    cursor: pointer;
    line-height: 1.5;
    display: block;
    font-size: 16px;
    min-width: 169px;
    border-radius: 4px;
    height: 56px;
    margin-bottom: 168px;
    font-weight: 500;
    margin-top: 48px;
    font-family: inherit;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
   border: none;
}

.advantsges-titles-text,
.team-subtitle{
    margin: 0;
    margin-top: 32px;
    justify-content: center;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.team-subtitle {
    margin-bottom: 8px
}
.portfolio-pieses{
    border: 1px solid #e7e9fc;
}
.portfolio-examples{
    margin: 0;
    display: flex;
    margin-top: 72px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    gap: 48px 24px;
margin-bottom: 120px;
    flex-wrap: wrap;
    }
    .portflio-container{
        border: 1px solid #e7e9fc;
        border-top: none;
    }
        .portfolio-examples-title{
            margin-bottom: 8px;
        }
    .advantage-text{
        line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            font-weight: 400;
            margin: 0;
            margin-top: 8px;
            font-size: 16px;
    }
    .portfolio-examples-p,
        .team-paragraph{
            line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;
                font-weight: 400;
                font-size: 16px;
        }
.portfolio-examples-p{
    margin: 0;
    margin-top: 8px;
    margin-bottom: 32px;
    padding-left: 16px;

}
.advantsges-title{

    margin-left: 156px;
    letter-spacing: 0.02em;
    font-size: 20px;
    display: flex;
    margin-top: 120px;
    justify-content: center;
    gap: 24px;

}
.advantsges-title-text {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.visually-hidden{
    position: absolute;
    height: 1px;
    width: 1px;
    margin: -1px;
    border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path:insert(100%);
  clip: rect(0 0 0 0);
  overflow:hidden;
margin-bottom: 8px;
}
.team-title{
    text-transform: capitalize;
    letter-spacing: 0.02em;
        line-height: 1.11;
        font-weight: 700;
        margin: 0;
        font-size: 36px;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 72px;
}

.footer{
    background-color: #2e2f42;
    margin: 0;
    padding: 100px 0;

}
.footer-text{
    margin: 0;
    margin-bottom: 100px;
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-three{
    background-color: #F4F4FD;
}
.section-one{
    background-color: #2e2f42;
}
.portfolio-examples-title{
    margin: 0;
        color: #2e2f42;
        line-height: 1.2;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-size: 20px;
    padding-left: 16px;
    margin-top: 32px;
 color:#2e2f42;
}
.team-paragraph{
    margin: 0;
    margin-top: 8px;
    font-size: 16px;
    margin-bottom: 32px;
    text-align: center;
}
.portfolio {
    margin: 0;
    margin-top: 120px;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    line-height: 1.11;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 72px;
    color: #2e2f42;
    text-align: center;
}
.advantsges-titles-text{
    margin: 0;
    color: #2e2f42;
}
.team-members-list {
    background-color: #FFFFFF;
    box-shadow: 0 2px 6px #2E2F4229;
        margin-top: 72px;
        width: calc((100% - 3 * 24px) / 4);
            border-radius: 0px 0px 4px 4px;
}
.team-members{
display: flex;
padding-left: 157px;
border-radius: 0px 0px 4px 4px;
gap: 24px ;
}
.advantsges-title{
    margin-bottom: 120px;
}
.section-four{
    padding-top: 120px;
        padding-bottom: 120px;
}
.section-four .container{
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
}
.section-one{
    padding: 188px 0;
}
.section-three,
.section-two{
    padding: 120px 0;
}
.team-info{
    padding: 32px 0;
}